<section class="bg-white dark:bg-dark-primary">
  <div
    class="grid md:grid-flow-col auto-cols-auto max-w-screen-xl gap-y-8 p-4 md:p-16 mx-auto lg:gap-8 xl:gap-0 lg:py-16"
  >
    <img
      class="rounded-md sm:rounded-full h-32 justify-self-center self-center md:mr-4 lg:hidden row-start-2 md:row-start-auto"
      src="../../../assets/profile.jpg"
      alt="mockup"
    />
    <div class="auto-cols-fr">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white-primary"
      >
        Wer bin ich?
      </h1>
      <p
        class="max-w-2xl mb-4 lg:mb-8 md:text-lg lg:text-xl dark:text-white-primary"
      >
        Mein Ziel ist es, Sie in jeder Phase des Projekts zu unterstützen -
        <span class="text-dark-accent"
          >von der Planung und dem Entwurf bis hin zur Entwicklung und
          Umsetzung</span
        >. Ich bin in der Lage, komplexe Webanwendungen zu entwickeln und kann
        Ihnen auch bei der Integration von Drittanbieter-Tools und -Services
        helfen.
      </p>
      <p class="dark:text-white-primary">- Matija Achterberg</p>
    </div>
    <img
      class="rounded-full h-64 auto-cols-fr hover:animate-zoom hidden lg:flex justify-self-center"
      src="../../../assets/profile.jpg"
      alt="mockup"
    />
  </div>
</section>
