<ng-container *transloco="let t">
  <section class="bg-white-primary dark:bg-dark-primary">
    <div class="flex justify-center p-8 lg:hidden">
      <img
        class="rounded-full h-44 md:mr-4 md:row-start-auto border-4 border-white-secondary dark:border-dark-secondary"
        src="../../../assets/profile.jpg"
        alt="mockup"
      />
    </div>
    <div
      class="grid md:grid-flow-col auto-cols-auto max-w-screen-xl gap-y-8 p-8 md:p-16 mx-auto lg:gap-8 xl:gap-0 lg:py-16"
    >
      <div>
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white-primary"
        >
          {{ t("profile-section.whoAmI") }}
        </h1>
        <p
          class="max-w-2xl mb-4 lg:mb-8 md:text-lg lg:text-xl dark:text-white-primary"
        >
          {{ t("profile-section.myGoal") }} -
          <span class="text-white-accent dark:text-dark-accent"
            >{{ t("profile-section.myGoalAccent") }}.</span
          >
          <br />
          {{ t("profile-section.myGoalEnd") }}
        </p>
        <p class="dark:text-white-primary">- Matija Achterberg</p>
      </div>
      <img
        class="rounded-full h-64 auto-cols-fr hover:animate-zoom hidden lg:flex justify-self-center"
        src="../../../assets/profile.jpg"
        alt="mockup"
      />
    </div></section
></ng-container>
