<div class="bg-white-primary dark:bg-dark-primary">
  <div class="mx-auto p-8 md:p-16 max-w-screen-xl">
    <h2
      class="text-4xl mb-6 md:mb-16 text-center font-bold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white-primary"
    >
      {{ "availability.availability" | transloco }}
    </h2>
    <canvas #canvas class="h-12 border w-full rounded-2xl mb-8"></canvas>

    <p class="text-center md:text-lg lg:text-xl dark:text-white-primary">
      {{ "availability.workload" | transloco }}
    </p>
  </div>
</div>
